langchain
ipykernel
dotenv
langchain_community
langchain_huggingface
sentence-transformers
ipywidgets
PyPDF2
pymupdf
langchain_ollama
streamlit
playwright
unstructured
requests
faiss-cpu
langchain_google_genai
uvicorn
fastapi
hf_xet
python-docx
olefile